<plugin>
    <class>vn.dvg.openfire.plugins.autoportal.DvgAutoPortalPlugin</class>
    <name>dvg-autoportal</name>
    <description>Allows users to authenticate with a DVG token.</description>
    <author>DVG - hoinx</author>
    <version>${project.version}</version>
    <date>08/07/2019</date>
    <url>https://dev.tiki.org/OpenFire</url>
    <minServerVersion>4.1.3</minServerVersion>
    <licenseType>gpl</licenseType>
</plugin>
